body {
    padding: 0;
    margin: 0;
    font-family: inherit;
}

#container {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
}

#menu {
    margin: auto;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

#menu-buttonContainer {
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 40px;
}

#menu button {
    font-weight: bold;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: inherit;
    transition: all 0.2s;
    outline: none;
}

#menu .menu-databases-button{
    background: #166088;
    border: none;
    box-shadow: 0px 3px 10px -4px black;
    color: white;
    font-size: 1.03em;
    display: block;
    margin: 10px;
    position: relative;
    width: 200px;
    height: 40px;
}

#menu .menu-databases-button:hover {
    background: hsla(201, 72%, 19%, 1);
    box-shadow: 0px 5px 15px -3px black;
    width: 205px;
    position: relative;
}

#menu .menu-databases-button:active {
    background: hsl(205, 57%, 68%);
}

.menu-generalButton {
    background: #ecebf0;
    color: #4D5382;
    display: block;
    position: absolute;
    bottom: 0;
    height: 40px;
    left: 0;
    right: 0;
    width: 70%;
    margin: auto;
    border: none;
}

.menu-generalButton:hover {
    width: 95%;
}

.menu-generalButton:active {
    width: 100%;
}

.menu-newCollectionButton:hover{
    background: #3772FF;
    color: azure;
}

.menu-removeCollectionsButton:hover {
    background: #D62839;
    color: azure;
}
