html, body {
    background: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    color: #252529;
    font-size: 13px;
}
button {
    font-size: inherit;
}
textarea, input {
    font-size: 1.15em;
}

#container.menu #menu{display: block;}
#container.menu #menu-buttonContainer{display: flex;}
#container.menu #tableHolder{display: none;}
#container.menu #panel{display: none;}

#container.main #menu{display: none;}
#container.main #tableHolder{display: block;}
#container.main #panel{display: block;}

#table {
    /* table-layout: fixed; */
    font-size: 1.2em;
    width: 100%;
    word-wrap: break-word;
    border-spacing: 0px;
    border-collapse: collapse;
}

#table .headerRow {
    background: #0075A2;
    color: #EDF2F4;
}

#table tr {
    border-bottom: 1px solid rgb(167, 169, 170);
}

#tableHeader-ID {
    width: 5%;
    max-width: 7%;
}

#tableHeader-Name {
    width: 30%;
}

#tableHolder {
    /* padding: 0 0 10px 0; */
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 30px;
    overflow: auto;
}

.table-lists {
    margin: 0;
}

#input {
    outline: none;
	font-family: inherit;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 55px;
    left: 0;
    top: 0;
    border: none;
    border-top: 1px solid rgb(167, 169, 170);
    border-bottom: 1px solid rgb(167, 169, 170);
}

.panel-button {
    transition: all 0.3s;
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    outline: none;
}
#details-button svg path{
    transition: all 0.3s;
}

#details-button{
    top: 5px;
    right: 30px;
}

#details-button:hover svg path{
    stroke-width: 1.5px;
    stroke: #051b27;
}

#settings-button-dropdown {
    top: 5px;
    right: 5px;
}

#settings-button {
    display: block;
    position: absolute;
    padding: 0;
    right: 0;
}


#settings-button svg {
    position: absolute;
    top: 0;
    left: 0;
}

#settings-button svg path {
    transition: all 0.3s;
}

.dropdown {
    position: relative;
}

.dropdown:hover #settings-button {
    /* background: #aeaeb3; */
}

.dropdown:hover #settings-button svg path{
    stroke-width: 1px;
    stroke: #051b27;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
    background: #f5f5f5;
    border: 1px solid #aeaeb3;
    grid-template-columns: 1;
    min-width: 70px;
}

.dropdown-content * {
    display: block;
}

.dropdown-content button{
    /* font-size: 1em; */
    text-align: end;
    width: max-content;
    min-width: 100%;
    border: none;
    background: none;
    padding: 5px 10px 5px 10px;
    outline: none;
}

.dropdown-content button:hover{
    background: rgba(0,0,0,0.1);
}