.examination-button {
    transition: all 0.5s cubic-bezier();
    position: absolute;
    padding: 0;
}

#examination-settings-button-container {
    display: none;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
}

#examination-settings-button {
    position: absolute;
    padding: 0;
    right: 0;
    border: none;
    width: 32px;
    height: 32px;
    background: none;
}

#examination-settings-button:hover svg .st0{
    stroke-width: 2.3px;
}

#examination-settings-button-container .dropdown-content {
    top: 34px;
}

.introductory-screen-content {
    position: fixed;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 40px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    overflow: auto;
}

.introductory-screen-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard .front {
    font-size: 2em;
}
.flashcard .back {
    font-size: 1.8em;
}

.flashcard.front .front {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.flashcard * div{
    word-wrap: break-word;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%); 
    width: 100%;
}
.flashcard.front .back {display: none;}

.flashcard.both .front {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 70%;
    right: 0;
    overflow: auto;
    border-bottom: 1px solid gray;
}
.flashcard.both .back {
    position: fixed;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.standardFlashcardsIntroduction-status {
    text-align: center;
    width: 100px;
    color: white;
}