.examination-button {
    transition: all 0.5s cubic-bezier();
    position: absolute;
    padding: 0;
}

#examination-settings-button-container {
    display: none;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
}

#examination-settings-button {
    position: absolute;
    padding: 0;
    right: 0;
    border: none;
    width: 32px;
    height: 32px;
    background: none;
}

#examination-settings-button-container:hover #examination-settings-button svg .st0 {
    stroke-width: 2.3px;
}

#examination-settings-button-container .dropdown-content {
    top: 34px;
}

.introductory-screen-content {
    position: fixed;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 40px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    overflow: auto;
}

.introductory-screen-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard .front>div {
    padding: 0 50px;
}

.flashcard .front {
    font-size: 2em;
}

.flashcard .back {
    font-size: 1.5em;
}

.flashcard .back ol {
    list-style-position: inside;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 50px;
    width: 100%;
}

.flashcard.front .front {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.flashcard * {
    word-wrap: break-word;
}

.flashcard>*>div {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.flashcard.front .back {
    display: none;
}

.flashcard.front #backButtons {
    display: none;
}

.flashcard.both .front {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 80%;
    right: 0;
    overflow: auto;
    border-bottom: 1px solid gray;
}

.flashcard.both .back {
    position: fixed;
    top: 20%;
    left: 0;
    bottom: 30px;
    right: 0;
    overflow: auto;
}

#backButtons {
    display: none;
    position: fixed;
    height: 30px;
    left: 0;
    right: 0;
    bottom: 0;
}

#backButtons button {
    width: 87px;
    margin: 0 2px;
}

#backButtons .selected {
    border-bottom: 2px solid #515d61;
}

.standardFlashcardsIntroduction-status {
    text-align: center;
    width: 100px;
    color: white;
    user-select: none;
}

table .insulationRow {
    background: #e1e8ea;
    height: 10px;
}

.standardFlashcardsIntroduction-front:hover {
    background-color: #ebebeb;
}

.flashcards-progress-bar {
    display: none;
    position: fixed;
    bottom: 3px;
    left: 3px;
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 3px;
    background: rgba(139, 195, 74, 0.08);
    color: #263238;
    border: 1px solid #263238;
    text-align: end;
}