.examination-button {
    transition: all 0.5s cubic-bezier();
    position: absolute;
    padding: 0;
}

#examination-settings-button-container {
    top: 16px;
    right: 16px;
}

#examination-settings-button {
    display: none;
    position: absolute;
    padding: 0;
    right: 0;
    border: none;
    width: 32px;
    height: 32px;
    background: none;
}

#examination-settings-button:hover svg .st0{
    stroke-width: 2.3px;
}

#examination-settings-button-container .dropdown-content {
    top: 34px;
}

.introductory-screen-content {
    position: fixed;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 40px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    overflow: auto;
}

.introductory-screen-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}